@import '../styles.css';

#categorias {
    list-style-type: none;
    text-align: center;
}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
}

@media (max-width: 600px) {
    .categ {
        font-size: 1em;
    }
}
