@import '../styles.css';

.titulo {
    color: #024959;
    font-size: 1.5em;
    margin: 0;
}

article {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    margin: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

article p {
    margin: auto;
}

.video {
    width: 74vw;
    height: 42vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.video-container {
    width: 74vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#baqueta-esquerra-pal, #baqueta-esquerra-bola {
    animation: tupaTupa 500ms ease-out 500ms infinite alternate;
}

#baqueta-dreta-pal, #baqueta-dreta-bola {
    animation: tupaTupa 500ms ease-out 750ms infinite alternate;
}