@font-face {
  font-family: 'Beatles';
  src: local('serif'), url('./assets/Beatles_Font_FONTSMAGAZINE.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@keyframes tupaTupa {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(40%);
  }
}

@keyframes light {
  0% {
    text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black,
    0 0 3px black, 0 0 10px black, 0 0 20px black,
    0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 70px yellow, 0 0 100px yellow, 0 0 200px yellow;
  }
  50% {
    text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black,
    0 0 5px black, 0 0 15px black, 0 0 25px black,
    0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 80px yellow, 0 0 110px yellow, 0 0 210px yellow;
  }
  100% {
    text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black,
    0 0 3px black, 0 0 10px black, 0 0 20px black,
    0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 70px yellow, 0 0 100px yellow, 0 0 200px yellow;
  }
}

h1 {
  color: black;
  font-family: 'Beatles';
  font-size: 5em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: darkslateblue;
  text-align: center;
  font-size: 2em;
}

h3 {
  color: darkmagenta;
  font-size: 2em;
}

.light-h3 {
  color: #D26AD2;
}

h4 {
  color: blueviolet;
  font-size: 1.5em;
}

body {
  font-family: 'Tahoma';
  height: 100vh;
  color: #1f1f1f;
  background-image: url('./assets/fondo_inicio_mod75.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center;
  background-position-y:center;
  background-attachment: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

p {
  text-align: justify;
  font-size: 1.1em;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 15px;
  margin: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(48, 44, 51);
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(238, 240, 225);
}

blockquote p {
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  background: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
  margin-left: 10vw;
  margin-right: 10vw;
}


body footer {
  text-align: center;
  background-color: rgb(48, 44, 51);
  padding: 10px;
  color: rgb(238, 240, 225);
}

#pie {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#pie nav ul {
  flex-direction: column;
}

blockquote footer {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: inherit;
  color: #1f1f1f;
}

.actual {
  font-weight: bolder;
}

.ir-arriba {
	display:none;
	padding:5px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  width: 50px;
}

.ir-arriba img {
  width: 100%;
  background:#024959;
}

li {
  margin: 5px;
}

.svg-container {
  text-align: center;
  margin: 50px 0;
}

.clip-container {
  text-align: center;
  margin-top: -30px;
}

.clip {
  clip-path: polygon(50% 20%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.logo {
  position: absolute;
  top:  50px;
  left: 5vw;
}

.animated-text:hover{
  color: white;
  animation: light 1s infinite;
}

.centrado {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-width: 500px;
  border: 5px;
  border-color: aliceblue;
  border-radius: 15px;
}

.centrado img {
  width: 100%;
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
  blockquote p {
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  .logo {
    position: inherit;
  }
  .logo-container {
    text-align: center;
    margin-top: 30px;
  }
  #pie {
    grid-template-columns: 1fr;
  }
}